#Profile {
	.profile_section1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 38px;
		padding-top: 113px;
		padding-bottom: 75px;

		.profile_imgbox {
			width: 270px;
			height: 270px;
			border: 10px solid #dddad3;
			border-radius: 50%;
			overflow: hidden;

			.profile_img {
				height: 100%;
			}
		}

		.profile_txtbox {
			text-align: center;

			.profile_txt {
				font-weight: 700;
				margin-bottom: 7px;
			}
		}
	}

	.profile_section2 {
		.profile_section2_wrapper {
			padding-left: 80px;
			padding-right: 80px;

			.info_container {
				display: flex;
				justify-content: space-between;
				padding-top: 80px;
				padding-bottom: 60px;

				.titlebox {
					.title {
						font-weight: 700;
						letter-spacing: -1px;
					}
				}

				.infobox {
					display: flex;
					justify-content: space-between;
					gap: 80px;
					font-size: 20px;
					padding-top: 14px;

					.info_block {
						display: flex;
						margin-bottom: 25px;

						.info_q {
							width: 100px;
							font-weight: 700;
						}

						.info_r {
							font-weight: 500;
						}

						.email_r_box {
							.email_r {
								margin-bottom: 8px;
							}
						}
					}
				}
			}

			.pr_container {
				margin-left: 10px;
				padding-top: 90px;
				padding-bottom: 70px;

				.pr_title {
					font-size: 24px;
					font-weight: 700;
					margin-bottom: 40px;
				}

				.pr_txt {
					font-size: 20px;
					font-weight: 500;
					opacity: 0.9;
				}

				.pr_txt1 {
					margin-bottom: 25px;

					p {
						margin-bottom: 10px;
					}
				}

				.pr_txt2 {
					p {
						margin-bottom: 7px;
					}
				}
			}
		}
	}
}
