body {
	margin: 0;
	font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: #f7f7f7;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.black_bg_color {
	background-color: #232323;
}

.black_txt_color {
	color: #232323;
}

.white_txt_color {
	color: #f1f1f1;
}

.default_padding {
	padding: 0 200px;
}

h1 {
	font-size: 46px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 32px;
}
