#Portfolio {
	padding-top: 100px;
	padding-bottom: 40px;

	.section {
		.article {
			.wrapper {
				padding-bottom: 60px;

				.title_box {
					margin: 10px auto;
					text-align: center;

					.title {
						font-size: 28px;
					}
				}

				.underline {
					width: 140px;
					margin: 0 auto 20px;
					border: 1px solid #232323;
					opacity: 0.1;
				}

				.list_container {
					.list_block {
						display: flex;
						justify-content: flex-start;
						gap: 10px;
						padding: 15px 20px;

						.list_info {
							display: flex;
							flex-direction: column;
							gap: 2px;
							width: 35%;

							.info_name {
								margin-bottom: 2px;
								font-size: 16px;
								font-weight: 700;
							}

							.info_detail {
								margin-bottom: 1px;
								font-size: 12px;
								font-weight: 500;
							}

							.gray {
								opacity: 0.5;
							}
						}

						.list_idid {
							width: 65%;
							font-size: 14px;
							font-weight: 400;

							.idid {
								display: flex;
								flex-direction: column;
								gap: 4px;
								margin-bottom: 10px;
							}

							.skills {
								display: flex;

								.skills_txt {
									margin-right: 10px;
									font-weight: 700;
								}

								.skills_list {
									.next_line {
										display: inline-block;
										margin-top: 3px;
									}
								}

								.learn_skills_txt {
									width: 200px;
									margin-right: 0;
								}
							}
						}
					}
				}
			}
		}

		.project {
			.wrapper {
				padding: 0;

				.pj_container {
					display: flex;
					justify-content: space-between;
					gap: 20px;
					padding-top: 30px;
					padding-left: 10px;
					padding-right: 10px;

					.pj_logoimg_box {
						width: 32%;

						.logo_img {
							width: 100%;
						}
					}

					// ==== 프로젝트 소개 ====
					.pj_description_box {
						width: 65%;
						font-size: 16px;
						line-height: 24px;

						// 프로젝트 정보
						.pj_infos {
							display: flex;
							flex-wrap: wrap;

							.wid_block {
								width: 250px;
							}

							.info_block {
								margin-bottom: 25px;

								.info_t {
									color: #232323;
									font-weight: 700;
									margin-bottom: 5px;
								}

								.info_d {
									font-weight: 400;
								}
							}
						}

						// 내가 구현한 기능 및 페이지
						.pj_content {
							.pj_underline {
								margin: 20px auto 40px;
								border: 1px solid #232323;
								opacity: 0.1;
							}

							.pj_features {
								.feature_box {
									.feature_name {
										font-size: 18px;
										font-weight: 700;
									}

									.mypoint {
										margin: 20px 0;
										font-size: 16px;

										.point_title {
											color: rgb(228, 16, 16);
											font-weight: 700;
										}

										.point_desc {
											font-weight: 700;
										}
									}

									.feature_details {
										margin-bottom: 25px;
										font-size: 14px;
										line-height: 21px;

										.details_title {
											font-weight: 700;
											padding-bottom: 5px;
										}

										.troubleShooting_box {
											.title {
												margin: 10px 0 5px;
												font-weight: 700;
												font-style: italic;
												color: #f96400;
											}

											.content {
												margin-bottom: 10px;
												opacity: 0.6;

												.content_title {
													font-weight: 700;
												}
												.content_desc {
													margin: 5px 0;
												}
											}
										}

										.details_imgbox {
											width: 90%;
											padding-top: 12px;

											.details_img {
												width: 100%;
											}
										}
									}
								}
							}

							.pj_videobox {
								width: 90%;
								margin-top: 5px;

								.video_title {
									font-weight: 700;
									padding-bottom: 10px;
								}

								.pj_video {
									width: 100%;
								}
							}

							.linkbox {
								padding: 20px 0;

								.link_title {
									font-size: 16px;
									font-weight: 700;
									padding-bottom: 10px;
									padding-right: 8px;
								}

								.links {
									display: inline-block;

									.link {
										margin-left: 12px;
										font-size: 14px;
										color: #f96400;
										text-decoration: underline;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 450px) {
	#Portfolio {
		margin: 0 50px;
		padding-top: 150px;
		padding-bottom: 0;

		.section {
			.article {
				.wrapper {
					padding-bottom: 80px;

					.title_box {
						.title {
							font-size: 40px;
						}
					}

					.underline {
						width: 200px;
						margin: 0 auto 50px;
					}

					.list_container {
						.list_block {
							gap: 20px;
							padding-top: 20px;
							padding-bottom: 20px;
							padding-left: 0;
							padding-right: 0;

							.list_info {
								.info_name {
									margin-bottom: 4px;
									font-size: 24px;
								}

								.info_detail {
									margin-bottom: 2px;
									font-size: 16px;
								}
							}

							.list_idid {
								font-size: 18px;

								.idid {
									gap: 8px;
									margin-bottom: 16px;
								}

								.skills {
									.skills_txt {
										margin-right: 16px;
									}

									.learn_skills_txt {
										width: 190px;
										margin-right: 12px;
									}
								}
							}
						}
					}
				}
			}

			.project {
				.wrapper {
					padding-bottom: 60px;

					.pj_container {
						gap: 20px;
						padding-top: 30px;
						padding-left: 0;
						padding-right: 0;

						.pj_logoimg_box {
							width: 35%;

							.logo_img {
								width: 90%;
							}
						}

						// ==== 프로젝트 소개 ====
						.pj_description_box {
							width: 65%;
							font-size: 18px;
							line-height: 28px;

							// 프로젝트 정보
							.pj_infos {
								.wid_block {
									width: 270px;
								}

								.info_block {
									margin-bottom: 30px;

									.info_t {
										margin-bottom: 8px;
									}
								}
							}

							// 내가 구현한 기능 및 페이지
							.pj_content {
								.pj_underline {
									margin: 20px auto 50px;
								}

								.pj_features {
									.feature_box {
										.feature_name {
											font-size: 24px;
										}

										.mypoint {
											margin: 28px 0;
											font-size: 18px;
										}

										.feature_details {
											margin-bottom: 25px;
											font-size: 18px;
											line-height: 30px;

											.details_imgbox {
												width: 100%;
											}

											.troubleShooting_box {
												.content {
													font-size: 16px;
													line-height: 24px;
												}
											}
										}
									}
								}

								.pj_videobox {
									width: 100%;
								}

								.linkbox {
									padding: 25px 0 30px;

									.link_title {
										font-size: 18px;
									}

									.links {
										.link {
											font-size: 18px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 640px) {
	#Portfolio {
		padding-top: 160px;

		.section {
			.article {
				.wrapper {
					padding: 0 30px 85px;

					.underline {
						margin: 0 auto 40px;
					}

					.list_container {
						.list_block {
							gap: 0;
							padding: 25px 20px 18px;

							.list_info {
								.info_name {
									margin-bottom: 6px;
								}
							}

							.list_idid {
								.idid {
									gap: 9px;
								}

								.skills {
									.learn_skills_txt {
										width: 160px;
										margin-right: 0;
									}
								}
							}
						}
					}
				}
			}

			.project {
				.wrapper {
					padding-bottom: 50px;

					.pj_container {
						gap: 30px;

						.pj_logoimg_box {
							width: 35%;

							.logo_img {
								width: 90%;
							}
						}

						// ==== 프로젝트 소개 ====
						.pj_description_box {
							width: 65%;

							// 프로젝트 정보
							.pj_infos {
								.info_block {
									margin-bottom: 35px;

									.info_t {
										font-size: 20px;
										margin-bottom: 10px;
									}
								}
							}

							// 내가 구현한 기능 및 페이지
							.pj_content {
								.pj_underline {
									margin: 20px auto 60px;
								}

								.linkbox {
									padding: 25px 0 35px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 850px) {
	#Portfolio {
		padding-top: 160px;

		.section {
			.article {
				.wrapper {
					padding: 0 70px 85px;

					.underline {
						margin: 0 auto 40px;
					}

					.list_container {
						.list_block {
							gap: 0;
							padding: 25px 20px 18px;

							.list_info {
								.info_name {
									margin-bottom: 6px;
								}
							}

							.list_idid {
								.idid {
									gap: 9px;
								}

								.skills {
									.learn_skills_txt {
										width: 160px;
										margin-right: 0;
									}
								}
							}
						}
					}
				}
			}

			.project {
				.wrapper {
					padding-bottom: 50px;

					.pj_container {
						gap: 30px;

						.pj_logoimg_box {
							width: 35%;

							.logo_img {
								width: 90%;
							}
						}

						// ==== 프로젝트 소개 ====
						.pj_description_box {
							width: 65%;

							// 프로젝트 정보
							.pj_infos {
								.info_block {
									margin-bottom: 35px;

									.info_t {
										font-size: 20px;
										margin-bottom: 10px;
									}
								}
							}

							// 내가 구현한 기능 및 페이지
							.pj_content {
								.pj_underline {
									margin: 20px auto 60px;
								}

								.linkbox {
									padding: 25px 0 35px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1024px) {
	#Portfolio {
		padding-top: 180px;

		.section {
			.article {
				.wrapper {
					padding: 0 20px 100px;

					.underline {
						margin: 0 auto 42px;
					}

					.list_container {
						.list_block {
							gap: 30px;
							padding: 20px 10px;

							.list_idid {
								.idid {
									gap: 5px;
								}

								.skills {
									.learn_skills_txt {
										width: 18%;
									}
								}
							}
						}
					}
				}
			}

			.project {
				.wrapper {
					padding-bottom: 70px;

					.pj_container {
						gap: 60px;

						.pj_logoimg_box {
							width: 30%;
						}

						// ==== 프로젝트 소개 ====
						.pj_description_box {
							width: 70%;

							.pj_infos {
								.info_block {
									margin-bottom: 40px;
								}
							}

							// 내가 구현한 기능 및 페이지
							.pj_content {
								.linkbox {
									padding: 25px 0 40px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1280px) {
	#Portfolio {
		padding-top: 185px;

		.section {
			.article {
				.wrapper {
					padding: 0 70px 120px;

					.underline {
						margin: 0 auto 50px;
					}

					.list_container {
						.list_block {
							padding: 30px;

							.list_idid {
								.idid {
									gap: 8px;
								}

								.skills {
									.learn_skills_txt {
										width: 120px;
									}
								}
							}
						}
					}
				}
			}

			.project {
				.wrapper {
					padding-bottom: 90px;

					.pj_container {
						// ==== 프로젝트 소개 ====
						.pj_description_box {
							// 내가 구현한 기능 및 페이지
							.pj_content {
								.linkbox {
									padding: 25px 0 30px;
								}
							}
						}
					}
				}
			}
		}
	}
}
