#Portfolio {
	margin: 0 50px;
	padding-top: 150px;
	padding-bottom: 50px;

	.portfolio_section1 {
		.article {
			.wrapper {
				padding: 0 70px 200px;

				.title_box {
					margin: 10px auto;
					text-align: center;
				}

				.underline {
					width: 200px;
					margin: 0 auto 60px;
					border: 1px solid #232323;
					opacity: 0.1;
				}

				.list_container {
					.list_block {
						display: flex;
						justify-content: flex-start;
						padding: 30px;

						.list_info {
							display: flex;
							flex-direction: column;
							gap: 2px;
							width: 300px;

							.info_name {
								margin-bottom: 4px;
								font-size: 24px;
								font-weight: 700;
							}

							.info_detail {
								font-size: 16px;
								font-weight: 400;
							}

							.info_detail {
								font-size: 16px;
								font-weight: 500;
							}

							.gray {
								opacity: 0.5;
							}
						}

						.list_idid {
							font-size: 18px;
							font-weight: 400;

							.idid {
								display: flex;
								flex-direction: column;
								gap: 5px;
								margin-bottom: 16px;
							}
							.skills {
								.skills_txt {
									font-weight: 700;
									margin-right: 15px;
								}
							}
						}
					}
				}
			}
		}
	}
}
